@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-prentard: var(--font-pretendard);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: var(--font-pretendard), sans-serif;
}

*:focus,
*:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #6da3fa;
  border-radius: 4px;
}
