@import "tailwindcss";
@config "../../tailwind.config.js";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --transition-duration: 200ms;
}

@theme inline {
  --font-prentard: var(--font-pretendard);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f3f4f6;
    --foreground: #ffffff;
  }
}

* {
  transition: all var(--transition-duration);
}

*:focus,
*:focus-visible {
  outline: none;
}

body {
  background: var(--background);
  color: black;
  font-family: var(--font-pretendard), sans-serif;
}

button {
  cursor: pointer;
}
